.moderustic-regular {
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.moderustic-light {
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.moderustic-semi-bold {
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

html, body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

svg {
    width: 24px;
    height: 24px;
}

/** SIDEBAR STYLES **/
aside {
    background-color:#042f2e;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    color: white;
}

.logo-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 35px;
    align-items: center;
}

.logo-text h1 {
    font-size: 25px;
    margin-left: 10px;
}

.nav-item-container {
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav-item-container a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 50px;
    color: white;
}

.icon {
    max-width: 24px;
    vertical-align: middle;
}

.nav-item {
    margin: 5px 0 5px 20px;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.support-nav {
    margin-top: 40px;
}

/** HEADER STYLES **/
header {
    z-index: 1;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding: 8px 32px 8px 32px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

input {
    background-color: #e5e7eb;
    border: 0px;
    border-radius: 16px;
    height: 32px;
    width: 90%;
}

.navbar, .greeting-container {
    display: grid;
    grid-template-columns: 70% 30%;
    
}

.search {
    display: flex;
    align-items: center; 
}

.right-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#search-icon {
    margin-right: 16px;
}

#profile-icon {
    width: 50px; 
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.greeting, .buttons-container {
    display: flex;
    align-items: center;
}

#greeting-profile {
    margin-right: 10px;
    width: 80px;
    height: 80px
}

.user-greeting p {
    margin: 0;
}

.greeting-message {
    font-size: 0.8em;
}

.username {
    font-size: 1.4em;
}

.buttons-container {
    justify-content: space-between;
}

.buttons-container > button {
    background-color: #042f2e;
    color: white;
    border: 0;
    border-radius: 24px;
    padding: 12px 30px 12px 30px;
    font-size: 14px;
}



/** MAIN SECTION STYLES **/
main {
    background-color:#e5e7eb;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 0px 20px 40px 20px ;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 16px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
    grid-auto-rows: minmax(200px, auto);
    gap: 25px 25px;
}

.project-card {
    background-color: white;
    border-radius: 8px;
    border-left: 8px solid #085E5C;
    padding: 0px 20px 24px 20px;

}

.project-icons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h4 {
    margin-bottom: 0px;
}

.project-card > p {
    min-height: 45%;
    font-size: 0.9em ;
    color:#6b7280;
}

.right-main {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}



.trending-list, .announcements-list {
    height: 75%;
    width: 80%;
    background-color: white;
    border-radius: 8px;
}

.announcements-list {
    padding: 24px 16px;
}

.announcements-item {
    padding-bottom: 12px
}

h5 {
    margin: 0px;
}

.announcements-item:not(:first-child) {
    padding-top: 12px;
    border-top: 1px solid #e5e7eb;
}

.announcements-item > p {
    margin: 0px;
    font-size: 0.7em;
}


